 

<header>
     <a href="#" class="logo1">INNOVATO</a>
     <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#client">Clients & Partner</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#MoT">Meet Our Team</a></li>
          <li><a href="#contact">Contact</a></li>
     </ul>
</header>
<section class="banner"></section>
 
     <!-- HOME -->
     <section id="home">
          <div class="container">
               <div class="logo">
                    <div class="row">
                         <img src="/assets/logoi.png">
                    </div>
               </div>
               
          </div>
     </section>
     <!-- ABOUT US-->
     <section id="client">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-4">
                         <div class="feature-thumb">
                              <h1 style="padding: 60px 0px;">OUR CLIENTS</h1>
                                   <div data-aos="fade-left" data-aos-offset="500" data-aos-duration="500">
                                        <div class="col-md-1 col-sm-12" ></div>       
                                             <div class="col-md-6 col-sm-12" >
                                                  <h3>GARDENIA BAKERIES PHILIPPINES INC.</h3>
                                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                                                  Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                                                  <input type="submit" class="feature-button" name="Read More >>" value="Read More >>"> 
                                             </div>

                                        <div class="col-md-4 col-sm-12" >
                                             <div class="feature-logo">
                                                  <img src="/assets/gardenia.png" class="img-responsive" alt="GARDENIA">
                                             </div>
                                        </div>
                                             <div class="col-md-1 col-sm-12" ></div>  
                                   </div>
                         </div>
                    </div>

                    <div class="col-md-12 col-sm-4">
                         <div class="feature-thumb">
                         <div class="col-md-1 col-sm-12" ></div>       
                         <div class="col-md-6 col-sm-12" data-aos="fade-right" data-aos-offset="500" data-aos-duration="500" >
                              <h3>CLINK PHILIPPINES</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                              Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                              <input type="submit" class="feature-button" name="Read More >>" value="Read More >>"> 
                         </div>

                         <div class="col-md-4 col-sm-12" >
                              <div class="feature-logo" data-aos="fade-right" data-aos-offset="500" data-aos-duration="500">
                                   <img src="assets/clink.webp" class="img-responsive" alt="CLINK">
                              </div>
                         </div>
                         <div class="col-md-1 col-sm-12" ></div>  

                         </div>
                    </div>

                    <div class="col-md-12 col-sm-4" >
                         <div class="feature-thumb">
                              <h1>OUR PARTNER</h1>

                         <div class="col-md-1 col-sm-12" ></div>      
                         <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-offset="500" data-aos-duration="500">
                              <h3>BOARD INTERNATIONAL</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                              Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                              <input type="submit" class="feature-button" name="Read More >>" value="Read More >>"> 
                         </div>

                         <div class="col-md-4 col-sm-12" >
                              <div class="feature-logo" data-aos="fade-left" data-aos-offset="500" data-aos-duration="500">
                                   <img src="assets/board.jpg" class="img-responsive" alt="BOARD">
                              </div>
                         </div>
                         <div class="col-md-1 col-sm-12" ></div> 

                         </div>
                    </div>


               </div>
          </div>
     </section>


     <!-- SERVICES -->
     <section id="services">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 col-sm-4" style="padding-top: 0px;">
                         <div class="feature-thumb">
                              <h1>OUR SERVICES</h1>
                         <div class="col-md-1 col-sm-12" ></div>     
                         <div class="col-md-4 col-sm-12" >
                              <div class="services-logo" data-aos="fade-right" data-aos-offset="500" data-aos-duration="500">
                                   <img src="assets/outsource.png" class="img-responsive" alt="outsource">
                              </div>
                         </div>

                         <div class="col-md-6 col-sm-12" data-aos="fade-right" data-aos-offset="500" data-aos-duration="500"style="padding-left: 0px; margin-top: 30px;">
                              <h3 class="service-h1">IT OUTSOURCING SERVICES</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                              Nunc vulputate libero et velit interdum, ac aliquet odio mattis.Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                              Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                         </div>
                         <div class="col-md-1 col-sm-12" ></div> 

                         </div>
                    </div>
                    <div class="col-md-12 col-sm-4" style="margin-top: 30px;">
                         <div class="feature-thumb">
                         <div class="col-md-1 col-sm-12" ></div>     

                         <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-offset="500" data-aos-duration="500" style="padding-left: 0px; margin-top: 30px; text-align: right;">
                              <h3 class="service-h1">BUSSINESS INTELLIGENCE SOFTWARE</h3>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                              Nunc vulputate libero et velit interdum, ac aliquet odio mattis.Nunc vulputate libero et velit interdum, ac aliquet odio mattis.
                              Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</p>
                         </div>
                         <div class="col-md-4 col-sm-12" >
                              <div class="services-logo" data-aos="fade-left" data-aos-offset="500" data-aos-duration="500">
                                   <img src="assets/bi.png" class="img-responsive" alt="bi">
                              </div>
                         </div>
                         <div class="col-md-1 col-sm-12" ></div> 

                         </div>
                    </div>

               </div>
          </div>
     </section>
 
     <!-- FOOTER -->
      

   

 