<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
    <label class="logo"></label>
    <ul>
        <li><a href="Home">Home</a></li>
        <li><a href="About us">About Us</a></li>
        <li><a href="Services">Services</a></li>
        <li><a href="Contact">Contact</a></li>
        <li><a href="MeetOurTeam">Meet Our Team</a></li>
    </ul>
</nav>

<div class="logo">
    <img src="/assets/innovatologo.png" alt="logo"> 
    <div class="socmed">
            <li><a href="#" class="fa fa-facebook"></a> </li>
            <li><a href="#" class="fa fa-linkedin"></a> </li>     
    </div>
</div>